body {
  background-color: #0d0d0f;
  color: #e3e3e3;
  font-size: 16px;
  font-family: sans-serif;
}

.small-caps {
  font-variant: small-caps;
}

.toggle {
  display: inline-block;
  position: relative;
  width: 2.5rem;
  height: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  background: #6f6f6f;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: calc(1.2rem - 4px);
    height: calc(1.2rem - 4px);
    border-radius: 1rem;
    background: #e3e3e3;
    top: 2px;
    left: 2px;
    transition: all 0.3s ease;
    transform: translateX(0);
  }

  &.checked {
    background: #628ffe;
    &::before {
      content: '';
      transform: translateX(calc(2.5rem - 1.2rem));
    }
  }
}
